.notfound {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: #f8f9fa;
}

.notfound__code {
  font-size: 72px;
  margin: 0;
}

.notfound__title {
  font-size: 24px;
  margin: 0;
}

.notfound__desc {
  color: #666;
}

.notfound__button {
  margin-top: 12px;
  padding: 10px 18px;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  border-radius: 6px;
  transition: 0.2s;
}

.notfound__button:hover {
  opacity: 0.8;
}
